@charset "utf-8";
@import url(reset.css);


@media all and (max-width:640px) {

    footer,
    #container,
    .header {
        width: 640px;
    }

    header {
        height: 400px
    }

    .intro h1 img {
        width: 90px
    }

    .intro a img {
        width: 30px;
        padding-top: 7px
    }

    header .relative_site {
        display: none
    }

    #container .container_wrap article,
    #container .container_wrap .looking,
    #container .container_wrap .relative,
    #container .container_wrap aside,
    #container .container_wrap .notice {
        width: 540px;
    }


    #container .container_wrap article div h2 {
        font-size: 1.5rem;
        width: 100%;
    }

    #container .container_wrap article div {
        height: 350px;
    }

    article a .txt {
        margin-top: 50%;
        font-size: 0.8rem;
    }

    article a .txt span {
        font-size: 1.2rem
    }

    #container .container_wrap article a .date {
        font-size: 0.8rem
    }

    #container .container_wrap .looking h2 {
        font-size: 1.5rem;
        line-height: 3;
        text-align: center
    }

    #container .container_wrap .looking h2:before {
        content: '|'
    }

    #container .container_wrap .looking h2:after {
        content: '|'
    }

    #container .container_wrap .looking ul {
        width: 70%;
        margin-left: 17%
    }

    #container .container_wrap .looking ul li {
        width: 100%;
        height: 350px;
        background-size: 30px 30px;
    }

    #container .container_wrap .looking ul li a p {
        font-size: 0.8rem;
        line-height: 1.5
    }

    .looking ul li:nth-of-type(1),
    .looking ul li:nth-of-type(2),
    .looking ul li:nth-of-type(3) {
        border-bottom: none;
    }

    .looking ul li:nth-of-type(1),
    .looking ul li:nth-of-type(3) {
        border-right: 1px solid #000
    }

    #container .container_wrap .btn_apply {
        bottom: 5%;
        padding-top: 35px
    }

    #container .container_wrap .relative_con section .txt span {
        font-size: 0.8rem
    }

    #container .container_wrap aside {
        padding-top: 1%
    }

    #container .container_wrap aside span.swap_txt {
        display: none
    }


    footer .footer_1,
    footer .footer_2 {
        width: 640px;
        font-size: 0.7rem
    }

    footer img.arti {
        width: 150px
    }

    footer .footer_2 .sns span.swap_txt,
    footer .footer_2 .sns h3 {
        display: none
    }

    footer .footer_2 .sns {
        margin-top: 25px
    }

    footer .footer_2 .sns a img {
        width: 20px;
    }
}
